<mat-toolbar>
    <span>CBot</span>
    <span class="spacer"></span>
    <div id="connection-status">
        <span *ngIf="isConnected" class="connected"><span>●</span> Connected</span>
        <span *ngIf="!isConnected" class="disconnected"><span>●</span> No connection</span>
    </div>
</mat-toolbar>

<div id="main">

    <mat-tab-group animationDuration="0"
                   [(selectedIndex)]="selectedTabIndex"
                   (selectedIndexChange)="onTabChange($event)" dynamicHeight>
        <mat-tab label="Terminal"></mat-tab>
        <mat-tab label="Tasks"></mat-tab>
        <mat-tab>
            <ng-template matTabLabel>
            <span matBadge="+"
                  [matBadgeHidden]="currentTab === Tabs.BIN_LIVE || !binLiveNotification"
                  matBadgeOverlap="false">Bin Live</span>
            </ng-template>
        </mat-tab>
        <mat-tab label="Tickers"></mat-tab>
        <mat-tab label="Status"></mat-tab>
    </mat-tab-group>

    <section id="tasks" [hidden]="currentTab !== Tabs.TASKS">
        <app-task-list (switchToTerminal)="switchToTerminalTab()"></app-task-list>
    </section>

    <section id="terminal" [hidden]="currentTab !== Tabs.TERMINAL">
        <app-terminal></app-terminal>
    </section>

    <section id="bin-live" [hidden]="currentTab !== Tabs.BIN_LIVE">
        <app-binlive></app-binlive>
    </section>

    <section id="tickers" [hidden]="currentTab !== Tabs.TICKERS">
        <div *ngFor="let tick of binLiveTickers">
            <span>
                <a href="https://www.binance.com/en/trade/{{ tick['s'] }}" target="_blank">{{ tick['s'] }}</a>
            </span>
            <span>{{ tick['c'] }}</span>
            <span>{{ tick['P'] }}%</span>
            <span>
                <a href="https://www.tradingview.com/symbols/{{ tick['s'] }}/" target="_blank">TV</a>
            </span>
        </div>
    </section>

    <section id="status" [hidden]="currentTab !== Tabs.STATUS">
        <app-status></app-status>
    </section>
</div>
