<mat-card class="task">
    <mat-card-title>
        #{{ task().id }} ({{ task().name }})
    </mat-card-title>
    <mat-card-content>
    <span matTooltip="{{ UtilsService.toDate(task().start_time) }}">
      Started {{ UtilsService.formatFromNow(task().start_time) }}
    </span>
        @if (task().is_finished) {
            <span>(finished)</span>
        }
        @if (task().is_paused) {
            <span>(paused)</span>
        }
        @if (task().desc) {
            <span>[{{ task().desc }}]</span>
        }
        <p class="output" [innerHTML]="formatOutput()"></p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="toggleTaskInfo()">
            {{ showTaskData && 'HIDE INFO' || 'SHOW INFO' }}
        </button>
        <button mat-button (click)="getTaskOutput()">
            GET
        </button>
        @if (!task().is_finished) {
            <button mat-button (click)="modifyTask()">
                MODIFY
            </button>
        }
        <button mat-button (click)="cloneTask()">
            CLONE
        </button>
        @if (!task().is_finished) {
            <button mat-button (click)="pauseTask()">
                {{ task().is_paused ? 'UNPAUSE' : 'PAUSE' }}
            </button>
        }
        @if (!task().is_finished) {
            <button mat-button (click)="killTask()">
                KILL
            </button>
        }
    </mat-card-actions>
    @if (showTaskData) {
        <div class="data">
            {{ formatData() }}
        </div>
    }
</mat-card>
