<nav id="tasks-bottom-actions">
    @if (tasksFinished.length) {
        <button mat-flat-button color="secondary"
                (click)="cleanTasks()">REMOVE FINISHED TASKS
        </button>
    }
    @if (!createMode) {
        <button mat-flat-button color="primary"
                (click)="openCreateTask(true)">CREATE TASK
        </button>
    }
</nav>

@if (createMode) {
    <app-task-create id="task-create"
                     [cloneTask]="cloneTask"
                     [modifyTask]="modifyTask"
                     (closeCreate)="closeCreateTask()">
    </app-task-create>
}

@for (task of tasksRunning; track task) {
    <div>
        <app-task-card [task]="task"
                       (switchToTerminal)="switchToTerminal.emit()"></app-task-card>
    </div>
}

@if (tasksFinished.length) {
    <h3 class="finished-tasks">Finished tasks:</h3>
}
@for (task of tasksFinished; track task) {
    <div>
        <app-task-card [task]="task"
                       (switchToTerminal)="switchToTerminal.emit()"></app-task-card>
    </div>
}
